@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap');

#home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  #poster {
    height: 90%;
    //   box-shadow: 10px 10px 10px grey;
  }

  #detail {
    height: 90%;
    margin-left: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    h1 {
      font-size: 3em;
    }

    h3 {
      margin-top: 0.3em;
      font-size: 2em;
      font-weight: 500;
      text-transform: capitalize;
    }

    p {
      font-size: 1.5em;
      font-weight: 300;
    }

    #addCalendar {
      margin-top: 1em;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        background-color: #1967d2;
        border-radius: 0.5em;
        width: fit-content;
        padding: 0.5em 1em;
        transition: background-color 0.3s ease;
        #calendarIcon {
          width: 2em;
          height: 2em;
          fill: white;
        }
        p {
          margin-left: 0.3em;
          font-weight: 700;
          font-size: 1.5em;
          color: white;
          text-transform: capitalize;
        }

        &:hover {
          background-color: #1f7dff;
        }
      }
    }
  }
}
