@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#watch {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  padding: 1em 0;
  iframe {
    width: 60vw;
    height: 60vw * 315/560;
  }
}
