@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#watch {
  height: 100%;
  display: flex;
  padding-top: 3em;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}
